In [1]:
### Subject: MA5851 - Data Science Master Class I 
### Author: Hendrik A. Dreyer
### Due Date: 1 December 2019

In [2]:
# Load the Pandas libraries with alias 'pd' 
import pandas as pd 
# Read data from file 'filename.csv' 
# (in the same directory that your python process is based)

# Control delimiters, rows, column names with read_csv (see later) 
data1 = pd.read_csv("hacker_news_1.csv") 
# Preview the first 5 lines of the loaded data 
data1.head()

,id,link_title,web_link
0,21567022,Hacker Publishes 2TB of Data from Cayman Natio...,twitter.com
1,21577156,How to recognize AI snake oil [pdf],www.cs.princeton.edu
2,21572622,Tools we used to create a hit HTML5 game on Steam,www.codecks.io
3,21567481,How Containers Work: Overlayfs,jvns.ca
4,21567556,"Sourcetrail, interactive source explorer, is n...",www.sourcetrail.com

In [3]:
# Control delimiters, rows, column names with read_csv (see later) 
data2 = pd.read_csv("hacker_news_2.csv") 
# Preview the first 5 lines of the loaded data 
data2.head()

         id  points
0  21567022    1543
1  21577156     894
2  21572622     629
3  21567481     575
4  21567556     356

In [4]:
#Do a full outer join on the id field
data_joined = pd.merge(data1, data2, on='id', how='outer')

#Now we have the points associated with the title
data_joined.head()

,id,link_title,web_link,points
0,21567022,Hacker Publishes 2TB of Data from Cayman Natio...,twitter.com,1543
1,21577156,How to recognize AI snake oil [pdf],www.cs.princeton.edu,894
2,21572622,Tools we used to create a hit HTML5 game on Steam,www.codecks.io,629
3,21567481,How Containers Work: Overlayfs,jvns.ca,575
4,21567556,"Sourcetrail, interactive source explorer, is n...",www.sourcetrail.com,356

In [5]:
data_sorted = data_joined.sort_values(by=['points'], ascending=False)
#print(data_joined.columns.values)
data_sorted.head()

,id,link_title,web_link,points
5190,20052623,Switch from Chrome to Firefox,www.mozilla.org,3287
6300,19728132,I Sell Onions on the Internet,www.deepsouthventures.com,3015
9480,18847043,Announcing unlimited free private repos,blog.github.com,2867
7500,19393279,Show HN: A retro video game console I've been ...,internalregister.github.io,2690
1260,21190265,Blizzard Suspends Professional Hearthstone Pla...,playhearthstone.com,2525

In [6]:
# How big is this data set?
data_sorted.shape

(10920, 4)

In [7]:
# Now write the sorted, poset process scraped into to file and save to disk
data_sorted.to_csv(r'hacker_news_post_process.csv')